canvas {
    border: none; 
    margin-bottom: 0;   
    margin-right: 60px;
}

html {
    overflow-y: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 350% 350%;
    animation: animate 7.5s ease-in-out infinite;
}

@keyframes animate{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

form {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

.form-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#zoom {
    transform: rotate(-180deg);
}

button {
    font-size: 26px;
    padding: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(28, 28, 181);
    border-radius: 10px;
    color: #fff;
    transition: .25s;
}

.extra-parameters-button {
    width: auto;
    background-color: rgb(147, 20, 52);
}

.button-box {
    margin-top: 10px;
    max-width: 415px;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(28, 28, 181);
    transform: translateY(-0.2em);
}

.extra-parameters-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(147, 20, 52);
}

.zoom-box, .iter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zoom-text, .iter-text {
    padding: 5px;
    margin: 5px auto;
    width: 100px;
    background-color: rgba(28, 28, 181, 0.5);
    color: #fff;
    font-size: 26px;
    border-radius: 5px;
}

.resize-box {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.resize-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px;
}

.resize-form-text, .custom-mode-form-text {
    font-size: 24px;
    background-color: rgba(28, 28, 181, .5);
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    margin: 8px 0;
}

#resize-input-width, #resize-input-height {
    width: 100px;
    border: none;
    padding: 4px;
}

#custom-mode-input-x, #custom-mode-input-y, #custom-mode-input-r, #custom-mode-input-iter {
    width: 150px;
    border: 0;
    padding: 4px;
}

.form-custom {
    display: none;
    height: fit-content;
    max-width: 158px;
    padding: 10px;
    margin: auto 60px;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    animation: fadeInUp;
    animation-duration: 2s;
}

.custom-mode-button-draw {
    margin-bottom: 0;
}

.custom-title {
    font-size: 28px;
    color: rgb(28, 28, 181);
    font-weight: bold;   
}


/* media request */

@media screen and (max-width: 1473px) {
    canvas {
        margin: 0;
        margin-bottom: 20px;
    }

    .body {
        justify-content: center;
    }
}

@media screen and (max-width: 708px) {    
    .zoom-text, .iter-text {
        font-size: 18px;
    }

    .resize-form-text, .custom-mode-form-text {
        font-size: 18px;
    }

    #resize-input-width, #resize-input-height {
        width: 75px;
        border: none;
        padding: 4px;
    }
    
    #custom-mode-input-x, #custom-mode-input-y, #custom-mode-input-r, #custom-mode-input-iter {
        width: 100px;
        border: 0;
        padding: 4px;
    }

    .resize-form-text, .custom-mode-form-text {
        font-size: 18px;
    }

    button {
        font-size: 20px;
        padding: 7px;
        margin-bottom: 20px;
        height: 40px;
        width: 80px;
        border-radius: 10px;
    }

    .custom-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 515px) {
    .form-custom {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 108px;
    }

    html {
        overflow-y: visible;
    }

    body {
        background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 30%, #7b5fac 40%, #8f6aae 60%, #a86aa4 100%);
        background-size: 150% 150%;
        animation: none;
    }
}